.primary-nav-trigger .menu-icon{
    display: inline-block;
    position: absolute;
    right: 10%;
    top: 50%;
    width: 39px;
    height: 2px;
    background-color: black;
}

.primary-nav-trigger .menu-icon::before, .primary-nav-trigger .menu-icon::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: black;
}

.primary-nav-trigger .menu-icon::before{
    top:-9px;
}

.primary-nav-trigger .menu-icon::after{
    top: 9px;
}

.getintouch{
    padding: 80px 0;
}

.textinput{
    margin: 40px 0;
}

.textinput p, .textmsg p{
    font-weight: 700;
    color: #696969;
    margin-bottom: 5px;
}

.textinput p span, .textmsg p span{
    color: #f6744b;
    margin-left: 5px;
}

.textinput input{
    border: 0;
    border-bottom: 1px solid #cacaca;
    width: 90%;
    height: 40px;
    outline: 0;
}

.textmsg textarea{
    border: 0;
    border-bottom: 1px solid #cacaca;
    width: 95%;
    height: 80px;
    outline: 0;
    padding-top: 10px;
}

.getintouch form{
    width: 70%;
    margin: 0 auto;
}

.submit{
    width: 205px;
    height: 50px;
    letter-spacing: 1px;
    background: #f6744b;
    border: 1px solid #f6744b;
    color: #fff;
    display: block;
    margin: 50px auto 0;
    font-weight: 700;
    text-transform: uppercase;
}

.submit:hover{
    color: #f6744b;
    transition: 0.5s;
    background: white;
}

